@font-face {
  font-family: anton;
  src: url("../fonts/Anton/Anton-Regular.ttf");
}

@font-face {
  font-family: prata;
  src: url("../fonts/Prata/Prata-Regular.ttf")
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #4F5757;
    padding: 20px;
}

.nav-links li, button a {
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    list-style: none;
    font-weight: bolder;
}


.logo {
    font-family: anton;
    letter-spacing: 5px;
    font-size: 35px;
    color: white;
}

.nav-links {
    margin-top: 12px;
    display: flex;
    justify-content: space-around;
    width: 75%;
    letter-spacing: 1px;
}

.nav-links a, button {
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: normal;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 4px;
}


.burger {
    margin-right: 40px;
    margin-bottom: 8px;
    display: none;
    cursor: pointer;
}

@media screen and (max-width:1024px) {
    .nav-links {
        width: 70%;
    }
}

@media(max-width:1085px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        margin-top: 30px;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:#4F5757;
        display: flex;
        border-radius: 15px;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }

    .nav-active {
        transform: translate(0%);
    }
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.footer {
    background-color: darkblue;
}

.glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(82, 74, 74, 0.7),
    rgba(32, 27, 27, 0)
  );
}

.copyrightLayout {
  background: rgb(1, 1, 20);
  padding-bottom: 70px;
}

.copyright {
  font-size: 15px;
  font-family: prata;
}

.logout {
    font-family: prata;
    font-size: 13.5px;
}

h5, h4 {
    font-family: prata;
    letter-spacing: 1;
    font-size: 17px;
}

.form-title {
    font-family: prata;
}

.user_id {
    text-transform: uppercase;
}

#app-nav {
    z-index: 4;
}


.libele {
    text-decoration: underline;
    letter-spacing: 1px;
}

@media(max-width:768px) {
    .item {
        margin-left: 40px;
        padding-left: 80px;
    }
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    color: #5C5C5C;
    cursor: pointer;
    font-size: 18px;
}

.users, .account, .cars {
    position: relative;
}

.cars {
    z-index: 99;
}

.users {
    z-index: 999;
}

.account {
    z-index: 9999;
}

.account button,
.users button,
.cars button {
    cursor: pointer;
    border: none;
    background: none;
}

.users ul {
    position: absolute;
    background-color: #4F5757;
    padding-top: 20px;
    width: 300px;
    height: 200px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.6s ease;
} 

.account ul, 
.cars ul {
    position: absolute;
    background-color: #4F5757;
    width: 250px;
    height: 150px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.6s ease;
}



.users li {
    width: 100%;
    padding-left: 20px;
    height: 100%;
    padding-bottom: 0px;
    margin-right: 15px;
}


.users button:focus + ul,
.account button:focus + ul, 
.cars button:focus + ul {
    opacity: 1;
    background-color: #4F5757;
    visibility: initial;
    transform: translateY(0px);
}

.rentSuccessMessage {
    visibility: hidden;
}

.timer div {
    background-color: #fff;
    color: black;
    width: 100px;
    height: 105px;
    border-radius: 5px;
    font-size: 35px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    padding-top: 3px;
}

.timer div span {
    display: block;
    margin-top: 2px;
    font-size: 15px;
    font-weight: 500;
}

.duration {
    visibility: hidden;
}
